---
title: false
styles: true
---
// Background colours
$accentColour: #5CADD6 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #3399CC !default;
$hoverColour: #22739C !default;

@import "alembic";